{% extends 'blog/base.html' %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>
<form method="POST" >
    {% csrf_token %}
    <label>Add Category :<input type='text' name='title' id='title'>
    <input type='submit' name='Submit' class='btn btn-success'>
</form>

{% endblock content %}