{% extends 'blog/base.html' %} 
{% load static %}

{% block content %}<br>
<center><h3>Blogs</h3></center>

<div class="col-6 align-left">
  <input type="text" id="user-input" placeholder="Search">
  <select name="category" id="category">
  {% for i in category %}	
  	<option value="{{i.title}}">{{i.title}}</option>
  {% endfor %}
</select>
</div><br>
<div class="container">
  <!-- <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top"> -->
      <div class="card-body">
 
  

  <div id="replaceable-content" class="col-6">
    {% include 'blog/ajax-blogs-data1.html' %}
  </div><br>

</div></div>
<!-- </div></div>             -->
<script type="text/javascript" src="{% static 'js/main1.js' %}"></script>

{% endblock content %}