{% extends 'blog/base.html' %} {% block content %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
    
          <h1> Write Your Comment </h1>

          {% if data.image %}
          <img src="{{data.image.url}}" class="rounded" width="50%">
          <br>
          <br>
        {% endif %}

          <p class=" text-muted">
              <form method="post" action="" enctype="multipart/form-data"> 
              {% csrf_token %} 
              <p>Title       : {{form.text}}</p>
              <p class="rate">Rating      :    
                <input type="radio" id="star5" name="score" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="score" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="score" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="score" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="score" value="1" />
                <label for="star1" title="text">1 star</label>
               </p> 
              <input type="submit" >
              </form>
          </p>
        
      </div>
    </div>
  </div>
</div>

<style>
  .checked {
    color: red;
  }

  .my-btn{
    background-color: inherit !important;
    border: 0 !important;
  }

  *{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

</style>
<script type="text/javascript" src="{% static 'main.js' %}"></script>

{% endblock content %}