{% extends 'blog/base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        {% if update == 0 %}
          <h1> Create Form </h1>
        {% else %}
        <h1> Update Form </h1>
        {% endif %}
          <p class=" text-muted">
              <form method="post" enctype="multipart/form-data"> 
              {% csrf_token %} 
              {{from.media}}
              {{form.as_p}}
              <input type="submit" >
              </form>
          </p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}