{% extends "blog/base.html" %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class="site-heading my-4 mt-3 text-white"> Welcome {{ request.user }}!!! </h3>
                    <h3 class="nav-item text-black">
                        <form method="GET" action="{% url 'blog:home' %}">
                            <input type='text' name='q' id='q' placeholder='Search...' value="{{request.GET.q}}">
                            <button type='submit' class='btn btn-success'>Search</button>
                        </form>
                    </h3>

                    <br>
                    <a class="nav-link text-white font-weight-bold" href="category_list/">Add Category</a>
                    <br>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
                {% for post in data %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text text-muted h6">{{ post.category }}</p>
                        <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                        <p class="card-text">{{post.content|slice:":200" }}</p>
                        {%if post.slug%}
                        <a href="{% url 'blog:post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                        {%endif%}
                    </div>
                </div>
                {% endfor %}
            
                <div>
                <span>
                    {% if data.has_previous %}
                        <a href="?page={{ data.previous_page_number }}">Previous</a>
                    {% endif %}

                    <span>{{ data.number }}</span>
                    
                    {% if data.has_next %}
                        <a href="?page={{ data.next_page_number }}">Next</a>
                    {% endif %}
                </span>
            </div>
        </div>
        
    </div>
</div>
{%endblock%}