{% extends "blog/base.html" %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class="site-heading my-4 mt-3 text-white"> Welcome {{ request.user }}!!!  
                    </h3>
                  
                    <label><a class="nav-link text-white font-weight-bold" href="category_list/">Add Category</a></label>
                    <br>
                    <h4>
                        <form method="GET" action="{% url 'blog:home'%}">
                            {% if category_search == 0 %}
                                <input type='text' name='q' id='q' placeholder='{{ query }}'>
                            {% else %}
                                <input type='text' name='q' id='q' placeholder='Search...'>
                            {% endif %}
                            <label for="category">Select Category</label>
                            {% if category_search == 0 %}
                                <select name="category">
                                    <option value="{{ category2 }}" selected disabled hidden>{{ category2 }}</option>
                                {% for i in data_category %}
                                    {% if i != category2 %}
                                        <option value="{{ i.title }}">{{ i.title }}</option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                                <button type='submit' class='btn btn-success'>Search</button>
                            {% else %}
                                <select name="category">
                                    <option value="none" selected disabled hidden>Select any option </option> 
                                {% for i in data_category %}
                                    <option value="{{ i.title }}">{{ i.title }}</option>
                                {% endfor %}
                                </select>
                                <button type='submit' class='btn btn-success'>Search</button>
                            {% endif %}
                          <br>
                        </form>
                    </h4>            
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
                {% for post in blogs %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text text-muted h6">{{ post.category }}</p>
                        <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                        <p class="card-text">{{post.content|slice:":200" }}</p>
                        {%if post.slug%}
                        <a href="{% url 'blog:post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                        {%endif%}
                    </div>
                </div>
                {% endfor %}
            
                <div>
                    <span>
                        <ul class="pagination">
                            
                        {% if blogs.has_previous %}
                        <li class="page-item"><a class="page-link" href="?{% if query %}q={{query}}&{%endif%}{% if category2 %}category={{category2}}&{%endif%}page={{ blogs.previous_page_number}}">Previous</a></li>
                        {% endif %}
                    
                        {% for i in blogs.paginator.page_range %}
                            {% if blogs.number == i %}
                                <li class="page-item"><span><a class="page-link">{{i}}</a></span></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href='?{% if query %}q={{query}}&{%endif%}{% if category2 %}category={{category2}}&{%endif%}page={{ i }}'>{{i}}</a></li>
                            {% endif %}
                        {% endfor %}
                    
                        
                        {% if blogs.has_next %}
                        <li class="page-item"><a class="page-link" href="?{% if query %}q={{query}}&{%endif%}{% if category2 %}category={{category2}}&{%endif%}page={{ blogs.next_page_number}}">Next</a></li>
                        {% endif %}
                    
                    </ul>
                    </span>
                
            </div>
        </div>
        
    </div>
</div>
{%endblock%}
<!-- <span> -->
    <!-- {% if data.has_previous %}
        <a href="?{% if query %}q={{query}}&{%endif%}{% if category2 %}category={{category2}}&{%endif%}page={{ blogs.previous_page_number}}">Previous</a>
    {% endif %}

    <span>{{ data.number }}</span>
    
    {% if data.has_next %}
        <a href="?page={{ data.next_page_number }}">Next</a>
    {% endif %}
</span> -->